<h1 class="m-3 bg-primary text-center p-1 text-white"><strong>Nuevas ordenes de trabajo</strong></h1>

<div class="container">
      <table class="table table-striped">
      <thead>
        <tr>
          <th>OT</th>
          <th>Cliente</th>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Papel</th>
          <th>Gramaje</th>
          <th>Estado</th>
          <th>Fecha Ingreso</th>
          <th>Fecha Prometida</th>

        </tr>
      </thead>
      <tbody>
    <% @orden_trabajos.each do |orden_trabajo| %>
          <tr>
            <td><%= orden_trabajo.trnum %></td>
            <td><%= link_to "#{orden_trabajo.clinom}", orden_trabajo_path(orden_trabajo)%></td>
            <td><%= orden_trabajo.nomprod.first(30) %></td>
            <td><%= orden_trabajo.trcan %></td>
            <td><strong><%= orden_trabajo.papel %></strong></td>
            <td><strong><%= orden_trabajo.gramaje %></strong></td>
            <td><%= orden_trabajo.estado_actual %></td>
            <td><%= orden_trabajo.trcar.try(:strftime, ("%e %B")) %></td>
            <td><%= orden_trabajo.deadline.try(:strftime, ("%e %B")) %></td>
            <td>
        <% end %>
        </tr>
      </tbody>
    </table>
  </div>