
<div class="d-flex justify-content-around bg-primary sticky-top my-3">
      <div class="">
        <h1 class="mt-1 "><strong>Zechini</strong></h1>
      </div>
      <div class="">
        <h1 class="mt-1 "><strong>Alzadora</strong></h1>
      </div>
      <div class="">
        <h1 class="mt-1 "><strong>Cos. Alambre</strong></h1>
      </div>
</div>



<div class="d-flex justify-content-around">
  <div class="container">
      <table class="table table-striped">
      <thead>
        <tr class="bg-danger">
          <th><h4 class="font-weight-bold text-white">Cliente</h4></th>
          <th><h4 class="font-weight-bold text-white">Producto</h4></th>
          <th><h4 class="font-weight-bold text-white">Observación</h4></th>
          <th><h4 class="font-weight-bold text-white"> Fecha límite</h4></th>
        </tr>
      </thead>
      <tbody>
    <% @orden_trabajos.each do |orden_trabajo| %>
        <% if orden_trabajo.estado_actual == "Terminación" and cadenatovector(orden_trabajo.procesos).include? "Zechini" %>

          <tr>
            <td><strong><%= orden_trabajo.clinom %></strong></td>
            <td><%= orden_trabajo.nomprod.first(20) %></td>
            <td><%= truncate(orden_trabajo.observaciones, :length => 50)%></td>
            <td><%= orden_trabajo.deadline %></td>
            <td>
        <% end %>
      <% end %>
        </tr>
      </tbody>
    </table>
  </div>
    <div class="container">
      <table class="table table-striped">
      <thead>
        <tr class="bg-danger">
          <th><h4 class="font-weight-bold text-white">Cliente</h4></th>
          <th><h4 class="font-weight-bold text-white">Producto</h4></th>
          <th><h4 class="font-weight-bold text-white">Observación</h4></th>
          <th><h4 class="font-weight-bold text-white"> Fecha límite</h4></th>
        </tr>
      </thead>
      <tbody>
    <% @orden_trabajos.each do |orden_trabajo| %>
        <% if orden_trabajo.estado_actual == "Terminación" and cadenatovector(orden_trabajo.procesos).include? "Alzadora" %>


          <tr>
            <td><strong><%= orden_trabajo.clinom %></strong></td>
            <td><%= orden_trabajo.nomprod.first(20) %></td>
            <td><%= truncate(orden_trabajo.observaciones, :length => 50)%></td>
            <td> <%= orden_trabajo.deadline %></td>
          <% end %>
        <% end %>
        </tr>
      </tbody>
    </table>
  </div>


    <div class="container">
      <table class="table table-striped">
      <thead>
        <tr class="bg-danger">
          <th><h4 class="font-weight-bold text-white">Cliente</h4></th>
          <th><h4 class="font-weight-bold text-white">Producto</h4></th>
          <th><h4 class="font-weight-bold text-white">Observación</h4></th>
          <th><h4 class="font-weight-bold text-white"> Fecha límite</h4></th>
        </tr>
      </thead>
      <tbody>
    <% @orden_trabajos.each do |orden_trabajo| %>
        <% if orden_trabajo.estado_actual == "Terminación" and cadenatovector(orden_trabajo.procesos).include? "C.Alambre" %>


          <tr>
            <td><strong><%= orden_trabajo.clinom %></strong></td>
            <td><%= orden_trabajo.nomprod.first(20) %></td>
            <td><%= truncate(orden_trabajo.observaciones, :length => 50)%></td>
            <td> <%= orden_trabajo.deadline %></td>
          <% end %>
        <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</div>

<script>


//Using setTimeout to auto-scroll.

//scroll to bottom
setInterval(function(){

//time to scroll to bottom
  $("html, body").animate({scrollTop: $(document).height()},25000);

//scroll to top
setTimeout(function () {
  $('html, body').animate({scrollTop:0},1);
},1);//call every 2000 miliseconds
},1)//call every 2000 miliseconds

setTimeout(function () {
//    //Redirect with JavaScript
   window.location.href= 'http://planillaot.herokuapp.com/post6';

},  25000);
;

</script>
