<div class="d-flex justify-content-around">
  <div class="container">
      <table class="table table-striped">
        <h1 class="mt-3"><strong>Guillotina</strong></h1>
      <thead>
        <tr>
          <th>Cliente</th>
          <th>Producto</th>
          <th>Observación</th>
          <th>Fecha Entrega</th>
        </tr>
      </thead>
      <tbody>
    <% @orden_trabajos.each do |orden_trabajo| %>
       <% if orden_trabajo.estado_actual == "Guillotina/Empaque" %>
          <tr>
            <td><%= orden_trabajo.clinom %></td>
            <td><%= orden_trabajo.nomprod.first(20) %></td>
            <td><%= truncate(orden_trabajo.observaciones, :length => 50)%></td>
            <td><%= orden_trabajo.fecentr %></td>
            <td>
        <% end %>
      <% end %>
        </tr>
      </tbody>
    </table>
  </div>
    <div class="container">
      <table class="table table-striped">
        <h1 class="mt-3"><strong>T-Manual</strong></h1>
      <thead>
        <tr>
          <th>Cliente</th>
          <th>Producto</th>
          <th>Observación</th>
          <th>Fecha Entrega</th>
        </tr>
      </thead>
      <tbody>
    <% @orden_trabajos.each do |orden_trabajo| %>
        <% if cadenatovector(orden_trabajo.procesos).include? "T.Manual" %>

          <tr>
            <td><%= orden_trabajo.clinom %></td>
            <td><%= orden_trabajo.nomprod.first(20) %></td>
            <td><%= truncate(orden_trabajo.observaciones, :length => 50)%></td>
            <td> <%= orden_trabajo.fecentr %></td>
          <% end %>
        <% end %>
        </tr>
      </tbody>
    </table>
  </div>


    <div class="container">
      <table class="table table-striped">
        <h1 class="mt-3"><strong>Otros</strong></h1>
      <thead>
        <tr>
          <th>Cliente</th>
          <th>Producto</th>
          <th>Observación</th>
          <th>Fecha Entrega</th>
        </tr>
      </thead>
      <tbody>
    <% @orden_trabajos.each do |orden_trabajo| %>
        <% if cadenatovector(orden_trabajo.procesos).include? "Otros" %>

          <tr>
            <td><%= orden_trabajo.clinom %></td>
            <td><%= orden_trabajo.nomprod.first(20) %></td>
            <td><%= truncate(orden_trabajo.observaciones, :length => 50)%></td>
            <td> <%= orden_trabajo.fecentr %></td>
          <% end %>
        <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</div>

<script>
//Using setTimeout to execute a function after 5 seconds.
setTimeout(function () {
   //Redirect with JavaScript
   window.location.href= 'http://planillaot.herokuapp.com/post7';
},  15000);
</script>
